@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-item::after {
  display: block;
  content: "";
  border-bottom: solid 3px #7c909c;
  transform: scaleX(0);
  transition: transform 350ms ease-in-out;
  transform-origin: 0% 50%;
}

.nav-item:hover::after {
  transform: scaleX(1);
}

.nav-item:hover {
  color: #2a2d34;
  transition: color 0.5s;
}
